﻿
@{
    ViewBag.Title = "Test2";
}

<h2>Test2</h2>

@using (Html.BeginForm())
{
    <div>
        <br>姓名: @Html.TextBox("name") <br />
        <br>帳號: @Html.TextBox("account") <br />
        <br>密碼: @Html.Password("pwd") <br />
        <br>性別: @Html.RadioButton("gender", "1") 男性 @Html.RadioButton("gender", "0") 女性 <br />
        <br>興趣: @Html.CheckBox("swim")游泳 @Html.CheckBox("read") 閱讀 @Html.CheckBox("movie") 看電影
        <br>自我介紹: @Html.TextArea("about") <br />

    </div>
}